.description_light {
    box-shadow: rgb(0, 0, 0) 0px 3px 25px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 2px;
    /* box-shadow: #00185e 0px 3px 25px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 2px;
 */}

  .descrip_img-light {
    box-shadow: rgb(0, 0, 0) 0px 3px 25px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 2px;
    max-width: 80%;
    border-radius: 30rem;
  }

  .descrip_img-light:hover {
    box-shadow: rgb(0, 0, 0) 0px 3px 25px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 2px;
  }

.section_light {
    max-width: 80%;
    box-shadow: rgb(0, 0, 0) 0px 3px 25px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 2px;
    /* box-shadow: #00185e 0px 3px 25px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 2px; */
    border-radius: 2rem;
  }

.tech_light {
    box-shadow: rgb(0, 0, 0) 0px 3px 25px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 2px;
  }
  
.shadow_light{
    
    box-shadow: rgb(0, 0, 0) 0px 3px 25px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 2px;
    /* box-shadow: #00185e 0px 3px 25px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 2px; */
    border-radius: 2rem;
}


.footer_light {
    
    box-shadow: rgb(0, 0, 0) 0px 3px 25px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 2px;
    /* box-shadow: #00185e 0px 3px 25px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 2px; */
    border-radius: 2rem;
    
    
  }
